
@{
    ViewData["Title"] = "GetAboutAgency";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!-- ABOUT AGENCY-->
    <section>
        <div class="col-md-9 aboutAgency">
            <div class="aboutAgency_contentContainer">
                <img src="/dist/img/about_agency/img1.png" alt="img1" class="aboutAgency_imgs">
                <div>
                    <h4 class="section_header">Agentlik haqqında</h4>
                    <p class="aboutAgency_content">
                        Azərbaycan Respublikası Ekologiya və Təbii Sərvətlər Nazirliyinin tabeliyində fəaliyyət göstərən Dövlət Mineral
                        Xammal Ehtiyatlarından İstifadə Agentliyi Azərbaycan Respublikasının Prezidentinin “Yerin təkindən istifadə
                        olunmasının, onun mühafizəsi və idarə edilməsi mexanizmlərinin təkmilləşdirilməsi, bu sahəyə dövlət nəzarətinin
                        gücləndirilməsi tədbirləri haqqında” 205 saylı, 16 iyul 2018-ci il tarixli Fərmanı ilə təsis edilmişdir. Həmçinin
                        Azərbaycan Respublikası Prezidentinin “Dövlət Mineral Xammal Ehtiyatlarından İstifadə Agentliyinin fəaliyyətinin təmin edilməsi
                        haqqında” 613 saylı, 9 aprel 2019-cu il tarixli Fərmanı ilə Agentliyin nizamnaməsi təsdiq edilmiş və
                        əsas fəaliyyət istiqamətləri müəyyənləşdirilmişdir.
                    </p>
                </div>
            </div>
            <div class="aboutAgency_contentContainer">
                <p class="aboutAgency_content_reverse">
                    Dövlət Mineral Xammal Ehtiyatlarından İstifadə Agentliyi “Yerin təki haqqında” Azərbaycan Respublikasının Qanununda nəzərdə tutulmuş
                    yerin təkindən istifadə növləri üzrə fəaliyyətin tənzimlənməsini, habelə yer təkinin istifadəsində və mühafizəsində qanunvericiliyə, müəyyən
                    edilmiş standartlara və tələblərə əməl olunmasına nəzarəti həyata keçirən, yerin təkindən istifadə ilə bağlı müsabiqə və hərracların
                    keçirilməsini təşkil edən, bu sahədə xidmətlər göstərən publik hüquqi şəxsdir.
                    <br><br>
                    Dövlət Mineral Xammal Ehtiyatlarından İstifadə Agentliyinin fəaliyyətinin əsas məqsədi şəffaf idarəçilik, məsuliyyətli hasilat
                    prinsiplərinin tətbiqi vasitəsilə dövlət, sosial və sahibkar maraqlarının ədalətli şəkildə tənzimləməsi və yer təkindən
                    dayanıqlı istifadənin təmin edilməsinə nail olmaqdır.
                </p>
                <img src="/dist/img/about_agency/img2.png" alt="img2" class="aboutAgency_imgs">
            </div>
        </div>
    </section>

    <!-- MISSON/VISION -->
    <section class="aboutAgency_vision">
        <img src="/dist/img/about_agency/img3.png" alt="img3" class="aboutAgency_visionPhoto">
        <div class="aboutAgency_visionContent">
            <h4>Missiya</h4>
            <p>
                Agentliyin missiyası yerin təkindən istifadə növləri üzrə fəaliyyəti tənzimləmək, yer təkinin istifadəsində və mühafizəsində
                qanunvericiliyə, müəyyən edilmiş standartlara və tələblərə əməl olunmasına nəzarəti həyata keçirmək, yerin təkindən səmərəli,
                təhlükəsiz və aşkarlıq şəraitində istifadəni təmin etmək, mineral xammal bazasını genişləndirmək və möhkəmləndirmək, eləcə
                də bu sahədə dövlət siyasətinin formalaşmasında iştirak etmək və bu siyasətin həyata keçirilməsini təmin etməkdir.
            </p>
            <h4>Məram (Vizyon)</h4>
            <p>
                Agentliyin məramı mədən sənayesində müasir tənzimlənməni həyata keçirmək və dünyanın qabaqcıl təcrübəsi əsasında sahənin inkişafına nail olmaqdır.
            </p>
        </div>
    </section>

    <!-- VALUES -->
    <section class="aboutAgency_valuesSec">
        <div class="col-md-9">
            <h5 class="aboutAgency_valueHeader">Dəyərlər</h5>
            <ul class="aboutAgency_values">
                <li>
                    <div class="aboutAgency_iconContainer">
                        <img src="/dist/img/about_agency/pure.svg" alt="icon" class="aboutAgency_icon">
                    </div>
                    <p>Aşkarlıq və şəffaflıq</p>
                </li>
                <li>
                    <div class="aboutAgency_iconContainer">
                        <img src="/dist/img/about_agency/fast.svg" alt="icon" class="aboutAgency_icon">
                    </div>
                    <p>Çevik və müasir <br> tənzimləmə</p>
                </li>
                <li>
                    <div class="aboutAgency_iconContainer">
                        <img src="/dist/img/about_agency/development.svg" alt="icon" class="aboutAgency_icon">
                    </div>
                    <p>Dayanıqlı inkişaf <br> modeli</p>
                </li>
                <li>
                    <div class="aboutAgency_iconContainer">
                        <img src="/dist/img/about_agency/innovation.svg" alt="icon" class="aboutAgency_icon">
                    </div>
                    <p>İnnovasiyalar</p>
                </li>
            </ul>
        </div>
    </section>
</main>


