
@{
    ViewData["Title"] = "GetAuction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="col-md-9">
        <h4 class="section_header">Hərrac və müsabiqə</h4>
        <div class="auction">
            <div class="auction_imgContainer">
                <img src="/dist/img/Auction/auction_big.png" alt="auction" class="auction_mainImg">
                <div class="auction_innerImgsCon">
                    <img src="/dist/img/Auction/auction_img_1.png" alt="auction">
                    <img src="/dist/img/Auction/auction_img_2.png" alt="auction">
                </div>
            </div>
            <div class="auction_contentContainer">
                <p>
                    Azərbaycan Respublikası Prezidentinin 16 iyul 2018-ci il tarixli 205 nömrəli “Yerin təkindən istifadə olunmasının, onun
                    mühafizəsi və idarə edilməsi mexanizmlərinin təkmilləşdirilməsi, bu sahəyə dövlət nəzarətinin gücləndirilməsi tədbirləri
                    haqqında” Fərmanına 2.1-ci bəndinə əsasən, Azərbaycan Respublikası Ekologiya və Təbii Sərvətlər Nazirliyinin tabeliyində
                    Dövlət Mineral Xammal Ehtiyatlarından İstifadə Agentliyi (bundan sonra – Agentlik) “Yerin təki
                    haqqında” Azərbaycan Respublikasının Qanununda nəzərdə tutulmuş yerin təkindən istifadə növləri üzrə fəaliyyətin tənzimlənməsini, habelə
                    yerin təkindən istifadə ilə bağlı müsabiqə və hərracların keçirilməsini təşkil edən, bu sahədə xidmətlər göstərən publik
                    hüquqi şəxsdir. Həmin Fərmanın 5.6-cı bəndinə əsasən, Azərbaycan Respublikasının Ekologiya və Təbii Sərvətlər Nazirliyi
                    hər il müsabiqə və hərraca çıxarılması nəzərdə tutulan yer təki sahələrinin siyahısını hazırlayıb Nazirliyin rəsmi internet
                    saytında yerləşdirir, yerin təkinin istifadəyə verilməsini azad rəqabət mühitində təmin edir.
                </p>
                <p>
                    Azərbaycan Respublikası Prezidentinin 09 aprel 2019-cu il tarixli 613 nömrəli “Dövlət Mineral Xammal Ehtiyatlarından
                    İstifadə Agentliyinin fəaliyyətinin təmin edilməsi haqqında” Fərmanın 3.1.9-cu bəndinə əsasən, Agentlik Nizamnaməsi ilə
                    müəyyən edilmiş fəaliyyət istiqamətlərinə uyğun olaraq, hər il müsabiqə və hərraca çıxarılması nəzərdə tutulan yer
                    təki sahələrinin siyahısını hazırlamaq, Nazirliyin rəsmi internet saytında yerləşdirmək, müsabiqə və hərracları keçirmək,
                    “Lisenziyalar və icazələr haqqında” Azərbaycan Respublikasının Qanunu ilə müəyyən olunmuş qaydada yer təkinin
                    istifadəyə verilməsində azad rəqabət mühitini təmin etmək vəzifəsi vardır.
                </p>
                <p>
                    Qeyd olunan normativ-hüquqi aktların tələbinə uyğun olaraq, 2021-ci ildən etibarən  Agentlik tərəfindən yerin təki
                    sahələrinin istifadəsi hərrac və müsabiqə qaydasında verilməsi nəzərdə tutulmuşdur.
                </p>
            </div>
        </div>
    </div>
</main>


