
@{
    ViewData["Title"] = "GetAboutPage";
}

<main>
    <section class="aboutUs">
        <div class="col-md-9 aboutUs_container">
            <h4 class="section_header">Haqqımızda</h4>
            <ul class="card_typeContainer">
                <li class="card_type">
                    <img src="/dist/img/About_us/Agency.png" alt="agency" class="card_icon">
                    <h5 class="card_header">Agentlik haqqında</h5>
                    <p class="card_description">Azərbaycan Respublikası Ekologiya və Təbii Sərvətlər Nazirliyinin tabeliyində.....</p>
                    <div class="card_btnContainer">
                        <img src="/dist/img/About_us/arrow_blue.png" alt="icon">
                        <a href="/@Html.CurrentLanguage()/MEDA/Haqqimizda/Agentlik-haqqinda" class="card_readBtn"><lang key="ReadMore"></lang></a>
                    </div>
                </li>
                <li class="card_type">
                    <img src="/dist/img/About_us/administration.png" alt="administration" class="card_icon">
                    <h5 class="card_header">Rəhbərlik</h5>
                    <p class="card_description">Azərbaycan Respublikası Ekologiya və Təbii Sərvətlər Nazirliyinin tabeliyində.....</p>
                    <div class="card_btnContainer">
                        <img src="/dist/img/About_us/arrow_blue.png" alt="icon">
                        <a href="/@Html.CurrentLanguage()/MEDA/Haqqimizda/Rehberlik" class="card_readBtn"><lang key="ReadMore"></lang></a>
                    </div>
                </li>
                <li class="card_type">
                    <img src="/dist/img/About_us/structure.png" alt="structure" class="card_icon">
                    <h5 class="card_header">Struktur</h5>
                    <p class="card_description">Azərbaycan Respublikası Ekologiya və Təbii Sərvətlər Nazirliyinin tabeliyində.....</p>
                    <div class="card_btnContainer">
                        <img src="/dist/img/About_us/arrow_blue.png" alt="icon">
                        <a href="/@Html.CurrentLanguage()/MEDA/Haqqimizda/Struktur" class="card_readBtn"><lang key="ReadMore"></lang></a>
                    </div>
                </li>
                <li class="card_type">
                    <img src="/dist/img/About_us/international_coll.png" alt="international_coll" class="card_icon">
                    <h5 class="card_header">Beynəlxalq əməkdaşlıq</h5>
                    <p class="card_description card_description_last">Azərbaycan Respublikası Ekologiya və Təbii Sərvətlər Nazirliyinin tabeliyində.....</p>
                    <div class="card_btnContainer">
                        <img src="/dist/img/About_us/arrow_blue.png" alt="icon">
                        <a href="/@Html.CurrentLanguage()/MEDA/Haqqimizda/emekdashliqlar" class="card_readBtn"><lang key="ReadMore"></lang></a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="aboutUs_statistic">
        <img src="/dist/img/About_us/about_sec_back.jpg" alt="background_photo" class="aboutUs_backImg">
        <div class="col-md-9 aboutUs_statisticContainer">
            <h5 class="aboutUs_statisticHeader">The image only availale in 5 minutes. If the image with message</h5>
            <ul class="aboutUs_statisticList">
                <li>
                    <p class="aboutUs_statisticCount">+2435</p>
                    <p class="aboutUs_description">You can not right click </p>
                </li>
                <li>
                    <p class="aboutUs_statisticCount">+4563</p>
                    <p class="aboutUs_description">You can not right click </p>
                </li>
                <li>
                    <p class="aboutUs_statisticCount">+346</p>
                    <p class="aboutUs_description">You can not right click </p>
                </li>
                <li>
                    <p class="aboutUs_statisticCount">+7968</p>
                    <p class="aboutUs_description">You can not right click </p>
                </li>
            </ul>
        </div>
    </section>
</main>


