
@{
    ViewData["Title"] = "GetBosses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
<main class="administration">
    <div class="col-md-8">
        <h4 class="section_header">Rəhbərlik</h4>

        <div class="administration_cards">
            <!-- #1 -->
            <div class="administration_mainCard">
                <div class="administration_card">
                    <input type="checkbox" id="check1" class="administration_input">
                    <img src="/dist/img/Administration/S.Gurbanov.svg" alt="profile_img" class="administration_img">
                    <p class="administration_name">Samir Qurbanov</p>
                    <p class="administration_position">İdarə Heyətinin sədri</p>
                    <label for="check1" class="administration_label"></label>
                    <div class="administration_content">
                        <p>
                            01 iyun 1974-cü il təvəllüdlüdür. 1996-cı ildə Azərbaycan Texniki Universitetinin “mühəndis-mexanik” ixtisası üzrə, 2004-cü ildə Bakı Dövlət Universitetini “beynəlxalq hüquq” ixtisası üzrə bitirmiş, 2002-2003–cü illərdə ABŞ-da Rutgers Universitetində Dövlət İdarəçiliyi və Beynəlxəlq iqtisadi inkişaf üzrə təhsil almış, Böyük Britaniyanın King’s College London, University of London bank və maliyyə hüququ üzrə magistr dərəcəsi almış, 2017-2018-ci ildə Massachusets İnstitute of Technology (MİT), Sloan School of Managment oxuyaraq MBA dərəcəsi almışdır.
                            <br><br>
                            Əmək fəaliyyətinə 1996-cı ildə  Bakı Şəhər İcra Hakimiyyətinin Xarici Əlaqələr Baş idarəsinin nəzdində Dipkorpusa və xarici nümayəndəliklərə xidmət göstərən müdriyyət “İnterservis”-də mütəxəsis vəzifəsi ilə başlamışdır.  1998-ci ildən 1999-cu ilədək Bakı Şəhər İcra Hakimiyyətinin İqtisadiyyat Komitəsinin sənaye şöbəsinin mütəxəsisi, 1999-cu ildən 2001-ci ilədək Xarici Əlaqələr və İnvestisiya Proqramları Departamentinin İşlər şöbəsində şöbə müdiri, 2001-ci ildən 2003-cü ilədək Azərbaycan Beynəlxalq Bankı, Hüquq Departamenti, Beynəlxalq və idarələrarası sazişlər şöbəsində  hüquqşünas, 2003-cü ildən 2005-ci ilədək baş hüquqşünas, 2005-ci ildən 2011-ci ilədək şöbə müdiri vəzifələrində işləmişdir. 2011-ci ildə PraysvoterhausKupers şirkətinin Azərbaycan Respublikasının filialında hüquq üzrə menecer, 2011-ci ildən 2012-ci ilədək “KPMG Azerbaijan Limited” şirkətində vergi və hüquq məsələləri üzrə menecer, 2012-ci ildən 2014-cü ilədək SOCAR-ın Hüquq İdarəsinin Beynəlxalq layihələrin hüquqi təminatı şöbəsində rəis müavini, 2014-cü ildən 2019-cu ilədək Hüquq İdarəsində xüsusi təyinatlı hüquqşünas, 2019-cu ildə Strateji inkişaf şöbəsinin rəisi vəzifələrində işləmişdir.
                            <br><br>
                            Azərbaycan Respublikası Prezidentinin 01 aprel 2020-cı il tarixli 1962 nömrəli sərəncamı ilə Dövlət Mineral Xammal Ehtiyatlarından İstifadə Agentliyinin İdarə Heyətinin sədri təyin edilmişdir.
                            <br><br>
                            Ailəlidir, 1 övladı var.
                        </p>
                    </div>
                </div>
            </div>
            <!-- #2 -->
            <div class="administration_card">
                <input type="checkbox" id="check2" class="administration_input">
                @*<img src="/dist/img/Administration/S.Gurbanov.svg" alt="profile_img" class="administration_img">*@
                <p class="administration_name">Azər Şükürov</p>
                <p class="administration_position">İdarə Heyəti sədrinin müavini</p>
                <label for="check2" class="administration_label"></label>
                <div class="administration_content">
                    <p>
                        Şükürov Azər Məcid oğlu 4 noyabr 1963-cü ildə anadan olub. 1985-1991-ci illərdə Rusiya Federasiyasının Moskva şəhərində Moskva Dağ-Mədən
                        İnstitutunda dağ-mədən mühəndisliyi üzrə təhsil alıb. 1981-1983-cü illərdə hərbi xidmətdə olub.
                        Əmək fəaliyyətinə 1984-cü ildə “Soyuzkvarssamosvet” Ümumittifaq İstehsalat Birliyinin
                        Azərbaycan geoloji axtarış partiyasında Dağ qazmaçısı kimi başlamış, 1991-2010-cu illər
                        ərzində isə ixtisası üzrə müxtəlif vəzifələrdə çalışmışdır.
                        2010-cu ildən bugünədək “Azinterpartlayış-X” MMC-nin direktoru vəzifəsində çalışır.
                        Dağ-mədən işlərinin həyata keçirilməsində əldə etdiyi nailiyyətlərə görə “Azəri Business Award”, Dağ-mədən
                        sənayesinin inkişafına verdiyi töhfələrə görə isə “Uğur” milli mükafatlarına layiq görülüb. Geologiya və
                        dağ-mədən sahəsində dövri elmi nəşr olan “Yer və İnsan” jurnalının təsisçisi və Ukrayna Milli Texniki
                        Universiteti “İqor Sikorski adına KPİ”nin mədənçilik üzrə doktorantıdır.
                        Azərbaycan, rus və türk dillərini bilir.
                        <br><br>
                        2020-ci ilin oktyabrın 16-dan Azərbaycan Respublikasının Ekologiya və Təbii Sərvətlər naziri tərəfindən Dövlət
                        Mineral Xammal Ehtiyatlarından İstifadə Agentliyinin İdarə Heyətinin sədrinin müavini vəzifəsinə təyin edilib.
                        Ailəlidir, 2 övladı var.
                    </p>
                </div>
            </div>
            <!-- #3 -->
            <div class="administration_card">
                <input type="checkbox" id="check3" class="administration_input">
                @*<img src="/dist/img/Administration/S.Gurbanov.svg" alt="profile_img" class="administration_img">*@
                <p class="administration_name">İsrail Əfəndiyev</p>
                <p class="administration_position">İdarə Heyəti sədrinin müavini</p>
                <label for="check3" class="administration_label"></label>
                <div class="administration_content">
                    <p>
                        Əfəndiyev İsrail Oruc oğlu 14 iyun 1970-ci ildə anadan olub.
                        1987-1992-ci illərdə Rusiya Federasiyasının Tver Dövlət Universitetini iqtisadçı ixtisası
                        üzrə təhsil alıb. 2006-2009-cu illərdə Rusiya Dövlət İntellektual Mülkiyyət İnstitutunu
                        hüquqşünas ixtisası üzrə bitirib.
                        Əmək fəaliyyətinə 1989-2002-ci illərdə “Azəravtoyol”, Dövlət Əmlak Komitəsi və “Qazax
                        Avtovağzal” ASC-də baş mühasib və İdarə Heyətinin sədri vəzifələrində çalışmışdır. 2002-
                        2006-cı illərdə “Azərbaycan Beynəlxalq Bankı” ASC-də baş mütəxəssis və şöbə müdiri
                        vəzifələrində çalışmışdır. 2010-2018-ci illərdə Azərbaycan Respublikasının Dövlət Neft
                        Şirkətinin “Azərkimya” İB-də idarə rəisi vəzifəsində çalışmışdır. 2018-2020-ci illərdə
                        Azərbaycan Respublikası Ekologiya və Təbii Sərvətlər Nazirliyinin Meşələrin İnkişafı
                        Departamentinin direktor müavini vəzifəsində çalışmışdır.
                        Azərbaycan, rus və türk dillərini bilir.
                        <br><br>
                        2020-ci ilin iyulun 15-dən Azərbaycan Respublikasının Ekologiya və Təbii Sərvətlər naziri tərəfindən Dövlət
                        Mineral Xammal Ehtiyatlarından İstifadə Agentliyinin Maliyyə, iqtisadi təhlil və risklərin idarə edilməsi şöbəsinin
                        müdiri vəzifəsinə təyin edilib. 2021-ci il yanvarın 13-dən Dövlət Mineral Xammal Ehtiyatlarından İstifadə
                        Agentliyinin İdarə Heyətinin sədrinin müavini vəzifəsinə təyin edilib.
                        Ailəlidir, 2 övladı var.
                    </p>
                </div>
            </div>
            <!-- #4 -->
        </div>

    </div>
</main>


