
@{
    ViewData["Title"] = "GetBosses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
<main class="administration">
    <div class="col-md-8">
        <h4 class="section_header">Rəhbərlik</h4>

        <div class="administration_cards">
            <!-- #1 -->
            <div class="administration_mainCard">
                <div class="administration_card">
                    <input type="checkbox" id="check1" class="administration_input">
                    <img src="/dist/img/Administration/S.Gurbanov.svg" alt="profile_img" class="administration_img">
                    <p class="administration_name">Samir Qurbanov</p>
                    <p class="administration_position">İdarə Heyyətinin sədri</p>
                    <label for="check1" class="administration_label"></label>
                    <div class="administration_content">
                        <p>
                            Bakalavr təhsilini mühəndis mexaniki ixtisası üzrə Azərbaycan Texniki Universitetində, daha sonra isə Beynəlxalq hüquq ixtisası üzrə Bakı
                            Dövlət Universitetində almışdır. 2006-2007-ci illərdə Böyük Britaniyanın King’s College London Universitetində təhsil alaraq hüquq üzrə magistr
                            dərəcəsinə yiyələnmişdir. 2017-2018-ci illərdə isə Massaçusets Texnologiya İnstitutunun Sloan Menecment Məktəbi və Harvard Universitetində Biznesin
                            İdarəedilməsi ixtisası üzrə MBA dərəcəsi əldə etmişdir. Azərbaycan, rus və ingilis dillərini bilir.
                            <br><br>
                            1996-2017-ci illər ərzində Dünya Bankının Beynəlxalq Maliyyə Korporasiyasında və BMT-nin Baş ofisində məsləhətçi, eləcə də müxtəlif illərdə
                            Azərbaycan Beynəlxalq Bankında, KPMG Azərbaycan şirkətində və Azərbaycan Respublikasının Dövlət Neft Şirkətində rəhbər vəzifələrdə çalışmışdır.
                            Azərbaycan Respublikası Prezidentinin 1 aprel 2020-ci il tarixli Sərəncamına əsasən Dövlət Mineral Xammal Ehtiyatlarından İstifadə Agentliyinin
                            İdarə Heyətinin sədri vəzifəsinə təyin edilib. Ailəlidir, 1 övladı var.
                        </p>
                    </div>
                </div>
            </div>
            <!-- #2 -->
            <div class="administration_card">
                <input type="checkbox" id="check2" class="administration_input">
                @*<img src="/dist/img/Administration/S.Gurbanov.svg" alt="profile_img" class="administration_img">*@
                <p class="administration_name">Azər Şükürov</p>
                <p class="administration_position">İdarə Heyyəti sədrinin müavini</p>
                <label for="check2" class="administration_label"></label>
                <div class="administration_content">
                    <p>
                        Şükürov Azər Məcid oğlu 4 noyabr 1963-cü ildə anadan olub. 1985-1991-ci illərdə Rusiya Federasiyasının Moskva şəhərində Moskva Dağ-Mədən
                        İnstitutunda dağ-mədən mühəndisliyi üzrə təhsil alıb. 1981-1983-cü illərdə hərbi xidmətdə olub.
                        Əmək fəaliyyətinə 1984-cü ildə “Soyuzkvarssamosvet” Ümumittifaq İstehsalat Birliyinin
                        Azərbaycan geoloji axtarış partiyasında Dağ qazmaçısı kimi başlamış, 1991-2010-cu illər
                        ərzində isə ixtisası üzrə müxtəlif vəzifələrdə çalışmışdır.
                        2010-cu ildən bugünədək “Azinterpartlayış-X” MMC-nin direktoru vəzifəsində çalışır.
                        Dağ-mədən işlərinin həyata keçirilməsində əldə etdiyi nailiyyətlərə görə “Azəri Business Award”, Dağ-mədən
                        sənayesinin inkişafına verdiyi töhfələrə görə isə “Uğur” milli mükafatlarına layiq görülüb. Geologiya və
                        dağ-mədən sahəsində dövri elmi nəşr olan “Yer və İnsan” jurnalının təsisçisi və Ukrayna Milli Texniki
                        Universiteti “İqor Sikorski adına KPİ”nin mədənçilik üzrə doktorantıdır.
                        Azərbaycan, rus və türk dillərini bilir.
                        <br><br>
                        2020-ci ilin oktyabrın 16-dan Azərbaycan Respublikasının Ekologiya və Təbii Sərvətlər naziri tərəfindən Dövlət
                        Mineral Xammal Ehtiyatlarından İstifadə Agentliyinin İdarə Heyətinin sədrinin müavini vəzifəsinə təyin edilib.
                        Ailəlidir, 2 övladı var.
                    </p>
                </div>
            </div>
            <!-- #3 -->
            <div class="administration_card">
                <input type="checkbox" id="check3" class="administration_input">
                @*<img src="/dist/img/Administration/S.Gurbanov.svg" alt="profile_img" class="administration_img">*@
                <p class="administration_name">İsrail Əfəndiyev</p>
                <p class="administration_position">İdarə Heyyəti sədrinin müavini</p>
                <label for="check3" class="administration_label"></label>
                <div class="administration_content">
                    <p>
                        Əfəndiyev İsrail Oruc oğlu 14 iyun 1970-ci ildə anadan olub.
                        1987-1992-ci illərdə Rusiya Federasiyasının Tver Dövlət Universitetini iqtisadçı ixtisası
                        üzrə təhsil alıb. 2006-2009-cu illərdə Rusiya Dövlət İntellektual Mülkiyyət İnstitutunu
                        hüquqşünas ixtisası üzrə bitirib.
                        Əmək fəaliyyətinə 1989-2002-ci illərdə “Azəravtoyol”, Dövlət Əmlak Komitəsi və “Qazax
                        Avtovağzal” ASC-də baş mühasib və İdarə Heyətinin sədri vəzifələrində çalışmışdır. 2002-
                        2006-cı illərdə “Azərbaycan Beynəlxalq Bankı” ASC-də baş mütəxəssis və şöbə müdiri
                        vəzifələrində çalışmışdır. 2010-2018-ci illərdə Azərbaycan Respublikasının Dövlət Neft
                        Şirkətinin “Azərkimya” İB-də idarə rəisi vəzifəsində çalışmışdır. 2018-2020-ci illərdə
                        Azərbaycan Respublikası Ekologiya və Təbii Sərvətlər Nazirliyinin Meşələrin İnkişafı
                        Departamentinin direktor müavini vəzifəsində çalışmışdır.
                        Azərbaycan, rus və türk dillərini bilir.
                        <br><br>
                        2020-ci ilin iyulun 15-dən Azərbaycan Respublikasının Ekologiya və Təbii Sərvətlər naziri tərəfindən Dövlət
                        Mineral Xammal Ehtiyatlarından İstifadə Agentliyinin Maliyyə, iqtisadi təhlil və risklərin idarə edilməsi şöbəsinin
                        müdiri vəzifəsinə təyin edilib. 2021-ci il yanvarın 13-dən Dövlət Mineral Xammal Ehtiyatlarından İstifadə
                        Agentliyinin İdarə Heyətinin sədrinin müavini vəzifəsinə təyin edilib.
                        Ailəlidir, 2 övladı var.
                    </p>
                </div>
            </div>
            <!-- #4 -->
        </div>

    </div>
</main>


