
@{
    ViewData["Title"] = "GetGeolojiSurvey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
<main class="geological">
    <!-- BACKGROUND -->
    <section>
        <div class="monitoring_background">
            <img src="/dist/img/Geological_survey/background.png" alt="background_img" class="monitoring_backgroundImg">
            <p class="services_header">Geoloji ekspertiza</p>
        </div>
    </section>

    <!-- DESCRIPTION -->
    <section>
        <div class="description col-md-9">
            <div class="description_container">
                <p class="description_content">
                    Dövlət Geoloji Eksperizası “Yerin təki haqqında” Azərbaycan Respublikasının Qanununun IV fəslinin 30-cu maddəsi, həmçinin Azərbaycan Respublikası Prezidentinin 1999-cu il 13 fevral tarixli, 102 nömrəli fərmanı ilə təsdiq edilmiş “İstifadəyə verilən yer təki sahələri haqqında geoloji informasiyanın və faydalı qazıntı ehtiyatlarının dövlət geoloji ekspertizasının keçirilməsi  Qaydaları”na əsasən ölkənin mineral xammal bazasının qorunması, təbii ehtiyatlardan səmərəli, qənaətlə istifadə olunması, xammala olan tələbatın ödənilməsi, faydalı qazıntıların çıxarılması üçün torpaq sahələrinin ayrılmasında, yer təki sahələrinin, bununla əlaqədar işlərin dövlət qeydiyyatına alınmasında, yerin təkinin geoloji öyrənilməsində və istifadəsində, yeraltı qurğuların tikintisi üçün uyğu sahənin ayrılmasınd ciddi qaydaların yaradılması məqsədilə həyata keçirilir
                </p>
            </div>
        </div>
    </section>

    <!-- CONTENT -->
    <section>
        <div class="col-md-9">
            <div class="geological_contentCard">
                <!-- <p>Dövlət geoloji ekspertizasının obyektləri aşağıdakılardır:</p> -->
                <ul class="geological_content">
                    <li>
                        yataqların dağ-texniki, hidrogeoloji, mühəndis-geoloji və digər istismar şəraitləri
                    </li>
                    <li>
                        geoloji quruluşu, faydalı qazıntının fiziki-mexaniki xüsusiyyətləri, kəmiyyəti, keyfiyyəti, sınaqlaşdırmanın nəticələri
                    </li>
                    <li>
                        yataqda əsas komponentlə yanaşı çıxarıla və istifadə oluna biləcək digər faydalı qazıntı növləri və qiymətli komponentlərin olması, eləcə də istismar zamanı çıxarılacaq yan süxurlar, onların sənaye istifadəsi üçün yararlığı (tikinti və digər material kimi) haqqında məlumatları
                    </li>
                    <li>
                        filizlərin komplekslilik səciyyəsinin nəzərə alınma dərəcəsi, tullantılardan istifadə imkanlarının öyrənilməsi və faydalı qazıntının qəbul olunmuş emal üsulunun ətraf mühitə təsiri haqqında məlumatları
                    </li>
                </ul>
                <img src="/dist/img/Geological_survey/img1.png" alt="img1" class="geological_contentImg">
            </div>
            <div class="geological_contentCard">
                <img src="/dist/img/Geological_survey/img2.png" alt="img2" class="geological_contentImg">
                <ul class="geological_content">
                    <li>
                        neft və qaz ehtiyatlarında sahə və ya fərdi quyu ilə əvvəlcədən hesablanması üçün zəruri  materiallar
                    </li>
                    <li>
                        öyrənilməsi səmərəli olan laylar, həmin intervallar üzrə süxurların fiziki və kimyəvi xüsusiyyətləri, ən əsası isə petrofiziki parametrləri
                    </li>
                    <li>
                        karotaj məlumatlarından istifadə olunması
                    </li>
                    <li>
                        bütün tədqiq edilmiş, qiymətləndirilmiş, yataqların işlənməsi və işlənməsində iştirak edən, o cümlədən texnoloji baxımdan ehtiyatların hesablanması və yenidən qiymətləndirilməsi üçün materiallar
                    </li>
                    <li>
                        neft-qaz kondensatını bərpa edən amillərin texniki-iqtisadi əsaslandırılması
                    </li>
                </ul>
            </div>
            <div class="geological_contentCard">
                <ul class="geological_content">
                    <li>
                        neft və qaz ehtiyatlarında sahə və ya fərdi quyu ilə əvvəlcədən hesablanması üçün zəruri  materiallar
                    </li>
                    <li>
                        öyrənilməsi səmərəli olan laylar, həmin intervallar üzrə süxurların fiziki və kimyəvi xüsusiyyətləri, ən əsası isə petrofiziki parametrləri
                    </li>
                    <li>karotaj məlumatlarından istifadə olunması</li>
                    <li>
                        bütün tədqiq edilmiş, qiymətləndirilmiş, yataqların işlənməsi və işlənməsində iştirak edən, o cümlədən texnoloji baxımdan ehtiyatların hesablanması və yenidən qiymətləndirilməsi üçün materiallar
                    </li>
                    <li>neft-qaz kondensatını bərpa edən amillərin texniki-iqtisadi əsaslandırılması</li>
                </ul>
                <img src="/dist/img/Geological_survey/img3.png" alt="img3" class="geological_contentImg">
            </div>
            <div class="geological_contentCard">
                <img src="/dist/img/Geological_survey/img4.png" alt="img4" class="geological_contentImg">
                <ul class="geological_content">
                    <li>istismar edilən yataqlar üçün mədən sahəsinin geoloji informasiyasının</li>
                    <li>
                        faydalı qazıntının öyrənilməsi, qiymətləndirilməsi, istismara hazırlanması və bilavasitə faydalı qazıntının işlənməsi ilə əlaqədar informasiya mənbələri haqqında məlumatı
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- PS -->
    <section>
        <div class="col-md-9 geological_ps">
            <p>
                <span>Qeyd:</span>
                Faydalı qazıntı ehtiyatlarının mövcud qanunvericiliyə uyğun (faydalı qazıntı yerləşən sahənin 3 gk dövlət qeydiyyatına alınır, geoloji tədqiqatların aparılması üçün geoloji ayırma status verilir, həmin ərazidə geoloji tədqiqatlar aparılır) axtarış qiymətləndirmə işləri aparıldıqdan sonra, hesablanmış ehtiyatların  dövlət geoloji ekspertizası həyata keçirilir
            </p>
        </div>
    </section>

    <!-- PRINCIPLES -->
    <section class="geological_principleSec">
        <img src="/dist/img/Geological_survey/background_footer.svg" alt="img_footer" class="geological_principleImg">
        <div class="col-md-9 geological_principleContainer">
            <p class="aboutUs_statisticHeader">Geoloji ekspertiza aşağıdakı prinsiplərə əsaslanır:</p>
            <ul class="geological_principle">
                <li>
                    <img src="/dist/img/Geological_survey/down-arrow-icon.svg" alt="principle_icon">
                    <p>Ekspert layihəsinin icrası barədə qərar qəbul etməzdən əvvəl onu yerinə yetirmək öhdəliyi</p>
                </li>
                <li>
                    <img src="/dist/img/Geological_survey/down-arrow-icon.svg" alt="principle_icon">
                    <p>Geoloji ekspertizaya təqdim olunan məlumatların etibarlılığı və dolğunluğu</p>
                </li>
                <li>
                    <img src="/dist/img/Geological_survey/down-arrow-icon.svg" alt="principle_icon">
                    <p>Ekspert layihəsinin icrası barədə qərar qəbul etməzdən əvvəl onu yerinə yetirmək öhdəliyi</p>
                </li>
                <li>
                    <img src="/dist/img/Geological_survey/down-arrow-icon.svg" alt="principle_icon">
                    <p>Ekspert layihəsinin icrası barədə qərar qəbul etməzdən əvvəl onu yerinə yetirmək öhdəliyi</p>
                </li>
            </ul>
        </div>
    </section>

</main>


