@model List<Ministry.BlogPage.Entities.News>
@{
    ViewData["Title"] = "GetMediasNews";
}
@using Ministry.BlogPage.Helpers;
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
<main class="news">
    <div class="col-md-9">
        <h4 class="section_header">Xəbərlər</h4>
        <ul class="newsContainer">
            @foreach (var item in Model)
            {
            <li class="newsContainer_contentContainer">
                <img src="/img/@item.MainImageUrl" alt="news_1" class="newsContainer_newsImg">
                <p class="newsContainer_date">@item.CreatedDate.ToString("dd MMMM yyyy")</p>
                <h5 class="newsContainer_header">@item.Title</h5>
                <p class="newsContainer_description">@item.ShortDescription.Substring(0,60) ...</p>

                <div class="newsContainer_moreContainer">
                    <img src="/dist/img/read_m_icon.png" alt="read_m_icon" class="newsContainer_readIcon">
                    <a href="/@Html.CurrentLanguage()/MEDA/Xeberler/@item.Slug/@item.Id" class="newsContainer_moreTxt"><lang key="ReadMore"></lang></a>
                </div>
            </li>
            }
            <!-- #1 -->

        </ul>
    </div>
</main>

