
@{
    ViewData["Title"] = "GetMonitoring";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
<main class="monitoring">
    <div class="monitoring_background">
        <img src="/dist/img/Monitorinq/background.svg" alt="background_img" class="monitoring_backgroundImg">
        <p class="services_header">Nəzarət</p>
    </div>

    <div class="col-md-9">
        <!-- DESCRIPTION -->
        <section>
            <div class="description">
                <div class="description_container">
                    <p class="description_content">
                        Dövlət Mineral Xammal Ehtiyatlarından İstifadə Agentliyi Azərbaycan Respublikasında yer təki istifadəçiləri
                        üzərində monitorinq və nəzarət sahəsində fəaliyyətlə yanaşı yerin təkindən səmərəli istifadəyə, onun
                        mühafizəsinə və geoloji öyrənilməsinə nəzarəti həyata keçirmək məqsədilə zəruri məlumatları toplayır,
                        qiymətləndirir, müşahidələr və təhlillər aparır. Həmçinin fəaliyyət istiqamətlərinə uyğun olaraq aşağıdakı
                        funksiyaları həyata keçirir:
                    </p>
                </div>
            </div>
        </section>

        <!-- LIST -->
        <section class="monitoring_section">
            <div class="monitoring_contentContainer">
                <img src="/dist/img/Monitorinq/img1.png" alt="img1" class="monitoring_img">
                <ul>
                    <li>
                        yer təkinin istifadəsinə və yerin təkindən özbaşına istifadəyə yol verilməməsinə nəzarət
                        məqsədilə müxtəlif araşdırmalar aparmaq, mineral resursların geniş yayılmış dövlətə
                        məxsus torpaqların, kəşf edilmiş yataqların qorunmasını təşkil etmək, mütəmadi olaraq
                        istifadəçilərə ayrılmış sahələrə baxış keçirmək
                    </li>
                    <li>
                        faydalı qazıntı ehtiyatlarının qiymətləndirilməsi işlərinin və ya faydalı qazıntıların
                        çıxarılması ilə əlaqədar olmayan məqsədlər üçün istifadəyə verilən yer təki sahəsinin
                        xüsusiyyətlərini təyin edəcək qabaqlayıcı geoloji və geo-ekoloji işlər aparılmasına nəzarət
                        məqsədli zəruri yoxlamalar, araşdırmalar aparmaq və digər zəruri hərəkətləri icra etmək
                    </li>
                    <li>
                        fəaliyyət istiqamətlərinə uyğun olaraq ölkədə faydalı qazıntıların çıxarılması ilə məşğul
                        olan, bu sahədə fəaliyyət göstərən və fəaliyyəti dayandırılmış fiziki və hüquqi şəxslərin,
                        faydalı qazıntıların çıxarılması üçün istifadə edilən yer təki sahələrinin dəqiq uçotunu
                        aparmaq, görülən işlərin qanunvericiliyin tələblərinə uyğunluğunu müəyyən etmək
                        məqsədli müxtəlif məlumatlar toplamaq, toplanılmış məlumatları təsnifləşdirmək və
                        qiymətləndirmək
                    </li>
                    <li>
                        faydalı qazıntılar çıxarılarkən təbii ehtiyatlardan kompleks istifadə tələblərinə, o
                        cümlədən faydalı qazıntıların və yanakı komponentlərin yerin təkindən daha dolğun
                        çıxarılmasına nəzarət etmək məqsədilə zəruri hərəkətlər həyata keçirmək
                    </li>
                    <li>
                        faydalı qazıntı yataqlarının işlənilməsi zamanı yerin təkindən çıxarılan və yerin təkində
                        saxlanılan faydalı qazıntıların və yanakı komponentlərin uçotuna nəzarət etmək məqsədilə
                        istifadəçilərdən zəruri məlumat və hesabatları tələb etmək, bu məlumatların qeydiyyatını
                        aparmaq
                    </li>
                </ul>
            </div>
            <div class="monitoring_contentContainer_reverse">
                <ul>
                    <li>
                        çatlı süxurların və sulu təbəqələrin səthə çıxdığı yerlərdə, habelə içməli su təchizatı və
                        təsərrüfat-məişət ehtiyacları üçün istifadə olunan yeraltı su obyektlərinin sututar
                        sahələrində sənaye və məişət tullantılarının yığılmasının qarşısını almaq üçün aidiyyəti
                        üzrə məsələ qaldırmaq, habelə yeraltı içməli suların minerallaşmış və ya kondisiyaya
                        uyğun gəlməyən sularla qarışması təhlükəsi olan sahələrdə yeraltı içməli suların rejiminə
                        nəzarət etmək məqsədilə araşdırmalar, müşahidələr aparmaq, zəruri olan yerlərdə bənd
                        möhkəmləndirici və sair işləri təşkil etmək, suyun nümunələrinin analizini təşkil etmək,
                        müxtəlif təbiət və resursqoruyucu qurğuların, avadanlıqların, texnologiyaların inşasına,
                        əldə edilməsinə dair təklif və tövsiyələr vermək
                    </li>
                    <li>
                        yerin təkindən istifadədən sonra istifadəçilər tərəfindən və onların vəsaitləri hesabına
                        torpaqların yuyulması
                    </li>
                    <li>
                        təmizlənməsi, bərpası, məhsuldarlığının artırılması sahəsində fəaliyyətin həyata keçirilməsini
                        tələb etmək
                    </li>
                    <li>
                        mülkiyyət və təşkilati-hüquqi formasından asılı olmayaraq yer təkinin bütün
                        istifadəçilərinin yer təkindən istifadəyə dair müəyyən edilmiş qaydalara, qanunvericiliyin
                        tələblərinə, standartlara, normalara əməl etmələrinə nəzarət məqsədilə yoxlamalar,
                        araşdırmalar, müşahidələr və təhlillər aparmaq
                    </li>
                </ul>
                <!-- SET IMG 2 -->
                <img src="/dist/img/Monitorinq/img2.png" alt="img2" class="monitoring_img">
            </div>
        </section>
    </div>


</main>


