
@{
    ViewData["Title"] = "GetProjects";
}

<section class="projects">
    <div class="col-md-9">
        <h4 class="section_header">Layihələr</h4>
        <ul class="projects_container">
            <li>
                <a href="./opened_project.html">
                    <img src="/dist/img/projects/project_1.png" alt="project_1">
                    <div class="projects_contentContainer">
                        <h5 class="projects_header">It is a long established fact that</h5>
                        <p class="projects_description">Many desktop</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="./opened_project.html">
                    <img src="/dist/img/projects/project_2.png" alt="projetc_2">
                    <div class="projects_contentContainer">
                        <h5 class="projects_header">It is a long established fact that</h5>
                        <p class="projects_description">Many desktop</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="./opened_project.html">
                    <img src="/dist/img/projects/project_3.png" alt="project_3">
                    <div class="projects_contentContainer">
                        <h5 class="projects_header">It is a long established fact that</h5>
                        <p class="projects_description">Many desktop</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="./opened_project.html">
                    <img src="/dist/img/projects/project_4.png" alt="project_4">
                    <div class="projects_contentContainer">
                        <h5 class="projects_header">It is a long established fact that</h5>
                        <p class="projects_description">Many desktop</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="./opened_project.html">
                    <img src="/dist/img/projects/project_5.png" alt="project_5">
                    <div class="projects_contentContainer">
                        <h5 class="projects_header">It is a long established fact that</h5>
                        <p class="projects_description">Many desktop</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="./opened_project.html">
                    <img src="/dist/img/projects/project_6.png" alt="project_6">
                    <div class="projects_contentContainer">
                        <h5 class="projects_header">It is a long established fact that</h5>
                        <p class="projects_description">Many desktop</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>


