
@{
    ViewData["Title"] = "GetWorkDirections";
}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
<main>

    <!-- ACTIVITY HEADER -->
    <section class="activity">
        <div class="col-md-9 activity_container">
            <h4 class="activity_header">Fəaliyyət istiqamətləri</h4>
            <p class="activity_description">
                Dövlət Mineral Xammal Ehtiyatlarından İstifadə Agentliyinin
                fəaliyyətinin əsas məqsədi şəffaf idarəçilik, məsuliyyətli hasilat prinsiplərinin tətbiqi
                vasitəsilə dövlət, sosial və sahibkar maraqlarının ədalətli şəkildə tənzimləməsi və yer
                təkindən
                dayanıqlı istifadənin təmin edilməsinə nail olmaqdır.
            </p>
        </div>
    </section>

    <!-- ACTIVITY LIST -->
    <section>
        <div class="col-md-9">
            <ul class="card_typeContainer activityList">
                <li class="card_type">
                    <img src="/dist/img/services/geo_survey.svg" class="card_icon">
                    <h5 class="card_header">Geoloji Ekspertiza</h5>
                    <p class="card_description">Azərbaycan Respublikası Ekologiya və Təbii Sərvətlər Nazirliyinin tabeliyində.....</p>
                    <div class="card_btnContainer">
                        <img src="/dist/img/About_us/arrow_blue.png" alt="icon">
                        <a href="/@Html.CurrentLanguage()/MEDA/FealiyyetSaheleri/Geoloji-Kesfiyyat" class="card_readBtn"><lang key="ReadMore"></lang></a>
                    </div>
                </li>
                <li class="card_type">
                    <img src="/dist/img/services/geo_using.svg" alt="administration" class="card_icon">
                    <h5 class="card_header">Yer təkindən istifadə</h5>
                    <p class="card_description">Azərbaycan Respublikası Ekologiya və Təbii Sərvətlər Nazirliyinin tabeliyində.....</p>
                    <div class="card_btnContainer">
                        <img src="/dist/img/About_us/arrow_blue.png" alt="icon">
                        <a href="/@Html.CurrentLanguage()/MEDA/FealiyyetSaheleri/yer-tekinden-istifade" class="card_readBtn"><lang key="ReadMore"></lang></a>
                    </div>
                </li>
                <li class="card_type">
                    <img src="/dist/img/services/monitoring.svg" alt="structure" class="card_icon">
                    <h5 class="card_header">Nəzarət</h5>
                    <p class="card_description">Azərbaycan Respublikası Ekologiya və Təbii Sərvətlər Nazirliyinin tabeliyində.....</p>
                    <div class="card_btnContainer">
                        <img src="/dist/img/About_us/arrow_blue.png" alt="icon">
                        <a href="/@Html.CurrentLanguage()/MEDA/FealiyyetSaheleri/Monitorinq" class="card_readBtn"><lang key="ReadMore"></lang></a>
                    </div>
                </li>
                <li class="card_type">
                    <img src="/dist/img/services/auction.svg" alt="international_coll" class="card_icon">
                    <h5 class="card_header">Hərrac və müsabiqə</h5>
                    <p class="card_description">Azərbaycan Respublikası Ekologiya və Təbii Sərvətlər Nazirliyinin tabeliyində.....</p>
                    <div class="card_btnContainer">
                        <img src="/dist/img/About_us/arrow_blue.png" alt="icon">
                        <a href="/@Html.CurrentLanguage()/MEDA/FealiyyetSaheleri/Herraclar" class="card_readBtn"><lang key="ReadMore"></lang></a>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- LINKS -->
    <section class="links">
        <img src="/dist/img/links.jpg" alt="" class="links_backImg">
        <ul class="col-md-9 linksContainer">
            <li>
                <img src="/dist/img/Link_Photo/Ilham_Eliyev.png" alt="link_photo" class="linksContainer_img">
                <a href="https://president.az/" target="_blank">Azərbaycan Respublikasının Prezidenti</a>
            </li>
            <li>
                <img src="/dist/img/Link_Photo/M_Aliyeva.png" alt="link_photo" class="linksContainer_img">
                <a href="https://en.president.az/first-vice-president/biography" target="_blank">Azərbaycan Respublikasının <br> I Vitse-Prezidenti</a>
            </li>
            <li>
                <img src="/dist/img/Link_Photo/HeyderFondu.png" alt="link_photo" class="linksContainer_img">
                <a href="https://heydar-aliyev-foundation.org/az" target="_blank">Heydər Əliyev Fondu</a>
            </li>
        </ul>
    </section>

</main>

